/*---------------font-section--------------*/

@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*---------------general--------------*/
html, *{
  margin: 0;
  padding: 0;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  font-weight: 200;
  color: #FCFAF2;
  scroll-behavior:smooth;
  overflow: hidden;
  cursor: url('images/favicon.svg'), auto;
}

body {
  margin:0;
  background-color: #101415;
  opacity: 0;
  transition: opacity 0.7s;
}

a, span {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a:hover, span:hover {
  text-decoration: underline;
  color: inherit;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

b{
  font-weight: 600;
  font-family: inherit;
  color: inherit;
}

i{
  font-style: italic;
  font-family: inherit;
  color: inherit;
}

p{
  line-height: 1.2em;
}


button{
  -webkit-appearance: none !important;
  border: 1.5px solid #FCFAF2;
  padding: 5px 15px 5px 15px;
  margin: 0px;
  background-color: #101415;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
  color: #FCFAF2;
  transition: 0.1s;
}

button:hover{
  border: 1.5px solid #101415;
  color: #101415;
  background-color: #FCFAF2;
}

.home{
  border: 1.5px dashed #FCFAF2;
  margin: 0;
}

#btn-back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
  z-index: 500;
  cursor: pointer;
  font-weight: 500;
  }

.btn-down{
  font-weight: 200;
  position: relative;
  padding-left: 0px;
  padding-top: 10px;
  display: flex;
  width: 100vw;
  align-items: center;
  align-self: center;
  text-align: center;
  justify-content: center;
}

#content .btn-down{
  display: none;
}

.container{
  padding: 40px;
}

/*---------------scroller-section--------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  cursor: pointer;
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #FCFAF2;
  background-position: center;
  display: block;
  cursor: pointer;
}


/*---------------navbar--------------*/

#nav {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;

}

.nav {
  z-index: 200;
  writing-mode: vertical-rl;
  height: 100vh;
  flex-direction: column;
}

.col-3 {
  vertical-align: top;
  display: inline-block;
  width: auto;
  height: 100vh;
  text-align: inherit;
  padding: 5px 0px 0 0px;
  color: black;
  cursor: pointer;
  animation-direction: alternate;
  font-weight: 400;
  font-family: 'IBM Plex Mono', monospace;

}

.col-3:hover, .col-3-stretch:hover, .col-3 a:hover, .col-3-stretch a:hover{
 font-style: italic;
 text-decoration: none;
 filter: none;
}

#record{
  position: absolute;
  width: 150px;
  bottom: 0;
  z-index: 1;
  transition: 0.1s ease-out;
  display: none;
}

#sleeve{
  position: relative;
  z-index: 10;
}

#transition:hover #record{
  transform: translate(-80px, -0px);
}

.title{
  font-size: 100px;
}

/*---------------navbar-stretch--------------*/

#nav-stretch {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
}


.col-3-stretch {
  vertical-align: top;
  display: inline-block;
  width: auto;
  text-align: inherit;
  padding: 5px 0px 0 0px;
  color: black;
  cursor: pointer;
}

.col-3-stretch a {
   text-decoration: none;
   font-weight: 400;
}

/*---------------header--------------*/

#header{
  z-index: 400;
  position: absolute;
  top: 0;
  width: auto;
  padding: 10px 0 10px 40px;
  display: flex;
  justify-content: flex-start;
}

.header-title{
  cursor: pointer;
  position: relative;
}

#header a{
  padding-right: 20px;
}


/*---------------content--------------*/

#content {
  z-index: 0;
  position: absolute;
  display: flex;
  padding: 80px 20px 0px 40px;
  flex-direction: column;
}

#content h1{
  width: 40vw;
}

.explanation {
  position: relative;
  font-size: 30px;
  padding-top: 20px;
  width: 40vw;
}

.w{
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: red;
}

/*---------------footer--------------*/

#footer{
  z-index: 100;
  position: absolute;
  bottom: 0;
  padding: 10px 0 20px 40px;
  display: flex;
  justify-content: flex-start;

}

/*---------------index--------------*/

h1{
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  overflow: hidden;
}

h2 {
  padding: 10px 0px 0px 0px;

}

.index{
  display: flex;
  justify-content: flex-start;
  width: auto;
  font-size: 15px;
}

.index a{
    cursor: pointer;
    font-weight: 400;
}

.col-2{
  vertical-align: top;
  display: inline-block;
  width: 16vw;
  text-align: inherit;
  padding: 0 10px 0 0;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}


.index-kami a {
  background-color: #E81700;
}

.index-yokai a {
  background-color: #3F4AB3;
}

.index-shizenrei a {
  background-color: #E7914B;
}

/*---------------timeline--------------*/

#timeline {
  z-index: 300;
  position: absolute;
  padding: 230px 0px 0px 0px;

}

.timeline {
  position: relative;
  height: 72vh;
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
}

.timeline img {
  width: 758vw;
}

.overlay, .overlay1 {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
}

.overlay a {
  z-index: 200;
  padding: 8px;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}


.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 18px;
}

iframe{
  width: 100vw;
  height: 100vh;
}


/*---------------movie--------------*/


h4{
  padding-right: 10px;
  font-weight: 500;
  margin: 0;

}

h5 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  padding-top: 10px;
}

.specs{
  font-size: 14px;
  font-weight: 300;
}

.movie-poster{
  height: 220px;
  width: auto;
}

#movie-screen{
  display: flex;
  justify-content: flex-start;
  float:right;
  width: 50vw;
  position: relative;
  overscroll-behavior: initial;

}

.movie-screen {
  z-index: 200;
  height: 100vh;
  width: 50vw;
  padding: 0px 0px 20px 0px;
  background-color: inherit;
  overflow-y: scroll;
}



/*---------------movie--------------*/

#movie-screen1{
  display: flex;
  justify-content: flex-start;
  float: right;
  width: 50vw;
  position: relative;
  overscroll-behavior: initial;
  background-color: #FCFAF2;

}

.movie-screen1 {
  z-index: 200;
  height: 100vh;
  width: 50vw;
  padding: 20px 0px 20px 0px;
  background-color: inherit;
  overflow-y: scroll;
}

.folklore-specs1{
  padding: 10px 0 10px 0px;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  cursor: default;
  color: #101415;
  border-bottom: 1px dotted #10141550;
}

.op{
  opacity: 0.5;
}

.op:hover{
  opacity: 1;
  transition: 0.2s ease-out;
}

.movie1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
}


.folklore-specs1 img{
  padding-right: 10px;
}



/*---------------movie--------------*/

.movie-screen button{
  display: flex;
  justify-content: flex-end;
}

.screen{
  width: 200px;
  height: auto;
  padding-left: 5px;
  padding-top: 5px;
}

.row-screen{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px 0px 0px 20px;
  border-top: 0.5px solid white;
  align-items: flex-start;
}

.folklore-specs{
  padding: 0 0 10px 0px;
  width: auto;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}

hr{
  -webkit-appearance: none !important;
  border: 0.5px solid white;
  opacity: 1;
}

/*---------------schede folklore--------------*/

#front{
  z-index: 0;
  position: relative;
  display: flex;
  padding: 60px 40px 100px 40px;
  flex-direction: row;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: space-between;
}

#folklore {
  position: relative;
  overflow-x: hidden;
  margin-top: 60px;
}

#front .explanation{
  font-size: 40px;
  width: 100%;
}

.chart{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: #101415;

}

.tabella{
  background-color: #101415;
  padding-top: 10px;
  padding-bottom: 10px;
}

h3 {
  margin-top: 10px;
  font-weight: 300;
  font-size: 70px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding: 15px;
}


/*---------------kami--------------*/

.tr {
  margin: 0px;
  width: auto;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.td{
  width: 100vw;
  border-top: 1px solid #101415;
  padding: 0 10px 10px 10px;
}

.td p, .tr a{
  color: #101415;
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 50px;
  font-weight: 400;
  cursor: pointer;
}

.td:hover, .tr a:hover{
  cursor: pointer;
  text-decoration: none;
  transform: translateY(-10px);
  transition: 0.3s ease-out;
}

/*---------------kami1--------------*/

.tr1 {
  margin: 0px;
  width: auto;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.td1{
  width: 50vw;
  border-top: 1px solid #101415;
  padding: 10px;
}

.td1 p, .tr1 a{
  color: #101415;
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
}

.td1:hover, .tr1 a:hover{
  cursor: pointer;
  text-decoration: none;
  background-color: #FCFAF2;
}

/*---------------kami1--------------*/

.k{
  background-color: #E81700;
}

.y{
  background-color: #3F4AB3;
}

.s{
  background-color: #FA9542;
}

.t{
  background-color: #FCFAF2;
}

.info {
  font-family: 'I5M Plex Mono', monospace;
  font-size: 15px;
  font-weight: 300;
  color: #101415;
  align-self: center;
}


/*---------------folklore-section--------------*/

.description {
  padding-top: 20px;
  font-size: 14px;
  font-style: italic;
}

.big-description{
  font-size: 20px;
  width: 40vw;
}

.period {
  width: 100%;
  text-align: left;
  font-style: italic;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 5px;
  opacity: 0.7;

  border-bottom: 1px solid #101415;
}

.b{
  color: #101415;
}

.legenda{
  line-height: 2em;
  font-size: 13px;
}

.legenda img{
  padding-right: 10px;
  width: 30px;
}




@media screen and (max-width:767px) {

  body {
    min-height: 100dvh;
    min-height: -webkit-fill-available;
  }

  html {
    height: -webkit-fill-available;
  }

/*---------------scrollbar--------------*/

::-webkit-scrollbar {
  display: none;
}

/*---------------index--------------*/

#header{
  padding: 10px 0px 0px 20px;
}

.header-title{
  font-size: 14px;
}

#content{
  padding: 60px 20px 0px 20px;
  position: relative;
  height: 100dvh;
  width: 100%;
  justify-content: flex-start;
}

#content .btn-down{
  display: block;
}

#content h1{
  width: auto;
}

.title{
  font-size: 60px;
  line-height: 0.8em;
}

#footer{
  top:0;
  right: 0;
  width: 30%;
  height: 7%;
  z-index: 400;
  display: flex;
  padding: 0;
}

.footer{
  position: absolute;
  top:15px;
  right:20px;
  font-size: 14px;
}


#nav {
  display: flex;
  font-size: 25px;
  height: 100dvh;
  align-items: baseline;
}

.nav {
  z-index: 100;
  width: 100vw;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  writing-mode: horizontal-tb;
  position: absolute;
  bottom: 0;
  text-align: left;
}

#sleeve{
  text-align: left;
  padding-left: 10px;
}

.col-3 {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0;
  color: black;
  cursor: pointer;
  text-align: center;
}

#record{
  display: none;
}

.explanation{
  font-size: 20px;
  width: 100%;
}

/*---------------SEARCH--------------*/
#nav-stretch{
  height: auto;
}

#nav-stretch .nav{
  top:0;
  width: auto;
  font-size: 20px;
  writing-mode: vertical-lr;
  z-index: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  height: 100dvh;
}

.index{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow-y: scroll;
  z-index: 200;
  font-size: 18px;
  padding-bottom: 20px;
  height: 100dvh;
  width: 100%;
}



.col-3-stretch{
  padding: 20px 0px 20px 5px;
  height: 100vh;
  width: 30%;
}

.col-2{
  width: auto;
}

/*---------------TIMELINE--------------*/

.folklore-specs1{
  flex-direction: column;
  display: flex;
  width: 100vw;
}

/*---------------K, Y, S SECTIONS--------------*/

#front{
  padding: 60px 20px 20px 20px;
  height: 100dvh;
  width: 100%;
  display: flex;
  align-content: space-between;
}

#front .explanation{
  font-size: 22px;
}

.btn-down{
  bottom: 0;
  font-size: 16px;
}

#btn-back-to-top {
  bottom: 10px;
  right: 20px;
}

#folklore{
  height: 100dvh;
  width: 100%;
}

.chart{
  height: 100dvh;
  width: 100%;
}

.tabella{
  font-size: 15px;
  padding-bottom: 20px;
}

.td1{
  width: 100vw;
}

.tr p, .tr1 p{
  font-size: 28px;
  font-weight: 500;
}

.info{
  font-size: 14px;
  line-height: 1em;
}


/*---------------GOD/MOVIE SECTION--------------*/


h2{
  font-size: 15px;
  border-bottom: 1px solid #FFFFFF30;
}

h5{
  font-size: 13px;
}


.big-description{
  font-size: 1em;
  width: 100%;
}

.specs{
  font-size: 12px;
}

.description{
  display: none;
}

.movie-poster{
  display: none;
}

.legenda{
  font-size: 13px;
}

.legenda img{
  width: 25px;
}

.period{
  font-size: 30px;
}

button{
  font-size: 14px;
}



.d{
  display: none;
}


#movie-screen, #movie-screen1{
  display: flex;
  position: relative;
  height: 100dvh;
  width: 100%;
  margin:0;
  align-items: baseline;
}

.movie-screen, .movie-screen1{
  height: 100dvh;
  width: 100%;
  padding-top: 0;
  position: absolute;
}

.row-screen{
  padding-left: 20px;
}

.movie-screen button, .movie-screen1 button{
  display: flex;
  justify-content: center;
  font-size: 18px;

}

.movie1{
  padding-top: 10px;
}


}
